<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Minha Aplicação ASP.NET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Principal", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contato", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
            {
                        <li>@Html.ActionLink("Pedidos", "Index", "Pedidos")</li>
                    }
                    
                </ul>

                <ul class="navbar-nav ml-auto">
                    @if (!User.Identity.IsAuthenticated)
            {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Login", "Conta")">Login</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Olá @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Action("MeuPerfil", "Conta")">Meu perfil</a>
                                <a class="dropdown-item" href="@Url.Action("Index", "Logs")">Log</a>
                                <div class="dropdown-divider"></div>
                                <button id="senhaBtn" class="dropdown-item btn btn-link">Alterar minha senha</button>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logoff", "Conta")">Sair</a>
                            </div>

                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dipapel</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
