
@{
    ViewBag.Title = "Edit";
}

<h2>Edição do Pedido</h2>

<form method="post">

    <div class="form-group">
        <label>Código:</label>
        <input autofocus type="text" class="form-control" name="Codigo" value="@Model.Codigo" />
    </div>

    <div class="form-group">
        <label>Comprador:</label>
        <input type="text" class="form-control" name="Comprador" value="@Model.Comprador" />
    </div>

    <div class="form-group">
        <label>Status:</label>
        <select name="IdStatusPedido" class="form-control">
            <option value="0">Selecione....</option>

            @foreach (var item in ViewBag.ListaStatusPedido)
            {
                <option @(item.Id == Model.IdStatusPedido ? "selected" : "")
                        value="@item.Id">
                    @item.Descricao
                    </option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Data Pedido:</label>
        <input type="date" class="form-control" name="DataPedido" value="@Model.DataPedido.ToString("yyyy-MM-dd")" />
    </div>
   
    <div class="form-group">
        <label>Total de Itens:</label>
        <input type="number" class="form-control" min="0" name="TotalItens" value="@Model.TotalItens" />
    </div>

    <div class="form-group">
        <label>Valor Total:</label>
        <input type="number" class="form-control" min="0" step="0.01" name="ValorTotal" value="@Model.ValorTotal" />
    </div>

    <div class="form-group">
        <label>Tipo Frete:</label>
        <input type="text" class="form-control" name="TipoFrete" value="@Model.TipoFrete" />
    </div>

    <div class="form-group">
        <label>Valor Frete:</label>
        <input type="number" class="form-control" min="0" step="0.01" name="ValorFrete" value="@Model.ValorFrete" />
    </div>

    <div class="form-group">
        <button class="form-control btn btn-primary">Salvar</button>
        <a href="/Pedidos">Cancelar</a>
    </div>

</form>