
@{
    ViewBag.Title = "Index";
}

<h2>Listagem dos Pedidos</h2>

<div>
    <a class="btn btn-info" href="/Pedidos/Add">Adicionar Pedido</a>
</div>
<br />

<table class="table">
    <thead >
        <tr>
            <th>Codigo</th>
            <th>Comprador</th>
            <th>Status</th>
            <th>Data Pedido</th>
            <th>Total Itens</th>
            <th>Valor Total</th>
            <th>Tipo Frete</th>
            <th>Valor Frete</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Comprador</td>
                <td>@item.StatusPedido.Descricao</td>                
                <td>@item.DataPedido.ToString("dd/MM/yyyy")</td>
                <td>@item.TotalItens</td>
                <td>@item.ValorTotal.ToString("0.00")</td>
                <td>@item.TipoFrete</td>
                <td>@item.ValorFrete.ToString("0.00")</td>
            <td>
                <a class="btn btn-primary" href="/Pedidos/Edit/@item.Id">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn btn-danger" href="/Pedidos/Delete/@item.Id">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>


